<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservet</servlet-name>
        <servlet-class>loginservet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>DeletePostServlet.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet1</servlet-name>
        <servlet-class>DeletePostServlet.DeletePostServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>DeletePostServlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet1</servlet-name>
        <servlet-class>LikeServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet1</servlet-name>
        <servlet-class>CommentServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareServlet</servlet-name>
        <servlet-class>ShareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareServlet1</servlet-name>
        <servlet-class>ShareServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchNotification</servlet-name>
        <servlet-class>FetchNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowServlet</servlet-name>
        <servlet-class>FollowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservet</servlet-name>
        <url-pattern>/loginservet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet1</servlet-name>
        <url-pattern>/DeletePostServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet1</servlet-name>
        <url-pattern>/LikeServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet1</servlet-name>
        <url-pattern>/CommentServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareServlet</servlet-name>
        <url-pattern>/ShareServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareServlet1</servlet-name>
        <url-pattern>/ShareServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchNotification</servlet-name>
        <url-pattern>/FetchNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowServlet</servlet-name>
        <url-pattern>/FollowServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            50
        </session-timeout>
    </session-config>
</web-app>
